body {
    font-family: Arial, sans-serif;
    display: flex;
    background-image: url("clouds.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.datentime h2{
    font-size: 50px;
}
.datentime h1{
    font-size: 20px;
    font-weight: 200;
}

#city{
    font-size:5vh;
    color: #4D6873;
}
.pbutton{
    padding: 10px;
}
#airbutton1{
    margin: auto;
    padding: 10px;
}
#airbutton2{
    margin: auto;
    padding: 10px;
}
form {

    margin: 20px;
    
}

input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #485a5e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comparison-container {
    display: flex;
    justify-content: center;
}

.city-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.city-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.city-container h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.city-container p {
    margin-bottom: 10px;
}

.city-container img {
    margin-top: 10px;
    max-width: 100px;
}
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #4D6873;
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}
.weather_container{
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 40px;
}
.weather_container img{
    width: 12vh;
}
.forecast-container {
    display: flex;
}
.map-container{
    display: flex;
    padding: 5px;
    width: 50vh;
    border: 1px solid black;
}
.temperature-data{
    font-size: 3vh;
    font-weight: 500;
}
.forecast {
    display: flex;
    width: 20vh;
    margin: 10px;
    padding: 10px;
    gap:10px;
    flex-direction: column;
    background-color: #dcecf223;
    backdrop-filter: blur(50px);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.weather_container h2{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
.weather_container h1{
    color: rgb(0, 0, 0);
    
}
.wind h1{
    font-weight: 400;
    color: black;
}
.coordinates h2{
    color: black;
}
.info{
    border-radius: 18px;
}
.info p {
    font-weight:500;
}
.forecast h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.forecast p {
    margin-bottom: 5px;
}
.minimap{
    width: 50vh;
    height: 300px;
}
.graph-container{
    display: flex;
    height: 300px;
    width: 70vh;
    border: 1px solid black;
    padding: 3px;
}
.graphic{
    margin-top: 30px;
    display: flex;
    column-gap: 100px;
}